#
# pin constraints
#
NET GCLK LOC = "L15"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[0] LOC = "U18"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[1] LOC = "M14"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[2] LOC = "N14"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[3] LOC = "L14"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[4] LOC = "M13"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[5] LOC = "D4"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[6] LOC = "P16"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[7] LOC = "N12"  |  IOSTANDARD = "LVCMOS33";
NET debouncer_0_input[0] LOC = "N4"  |  IOSTANDARD = "LVCMOS18";
NET debouncer_0_input[1] LOC = "P4"  |  IOSTANDARD = "LVCMOS18";
NET debouncer_0_input[2] LOC = "P3"  |  IOSTANDARD = "LVCMOS18";
NET debouncer_0_input[3] LOC = "F6"  |  IOSTANDARD = "LVCMOS18";
NET debouncer_0_input[4] LOC = "F5"  |  IOSTANDARD = "LVCMOS18";
NET RESET LOC = "T15"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET RS232_Uart_1_sin LOC = "A16"  |  IOSTANDARD = "LVCMOS33";
NET RS232_Uart_1_sout LOC = "B16"  |  IOSTANDARD = "LVCMOS33";
NET rzq IOSTANDARD = "LVCMOS18_JEDEC";
NET zio IOSTANDARD = "LVCMOS18_JEDEC";
#
# additional constraints
#

NET "GCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

NET lcd_0_LCD_Data_pin[0] LOC=T3 | IOSTANDARD = "LVCMOS33";
NET lcd_0_LCD_Data_pin[1] LOC=R3 | IOSTANDARD = "LVCMOS33";
NET lcd_0_LCD_Data_pin[2] LOC=P6 | IOSTANDARD = "LVCMOS33";
NET lcd_0_LCD_Data_pin[3] LOC=N5 | IOSTANDARD = "LVCMOS33";
NET lcd_0_LCD_RW_pin LOC=T9 | IOSTANDARD = "LVCMOS33";
NET lcd_0_LCD_RS_pin LOC=V9 | IOSTANDARD = "LVCMOS33";
NET lcd_0_LCD_E_pin LOC=V4 | IOSTANDARD = "LVCMOS33";
NET lcd_0_LCD_Enable_pin LOC=T4 | IOSTANDARD = "LVCMOS33";